.img {
  height: 120px;
  width: 120px;
}

.auth-btn {
  display: flex;
  flex-direction: row;
  gap: 10
}

@media only screen and (max-width: 600px) {
  .img {
    height: 120px;
    width: 70px;
  }
  .text {
    font-size: small;
  }
  .auth-btn {
    display: flex;
    flex-direction: row;
    margin-right: -10px;
    gap: 20
  }
}
